:root {
    --main-btn-color:#ffffff;
    --second-btn-color: #303030;
    --main-title-color: #ffffff;
    --second-title-color: #303030;
    --accent-color: #ff6c00;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
    min-width: 180px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid #ff6c00;
    background-color: transparent;
    border-radius: 30px;
    padding: 10px 26px;
}

.bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.05em;
}

.top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.title {
    font-family: "Relaway", sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.visualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/*------------------------------HEADER----------------------------------*/

.header {
    background-color: gray;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link,
.header-tel{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0,1em;
    color: #ffffff;
}

.header-link:hover, 
.header-link:focus
.header-tel:hover, 
.header-tel:focus {
    color: var(--accent-color);
}

.header-btn {
    margin-left: 40px;
}

.header-logo {
    margin-right: 70px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header-item:not(:last-child) {
    margin-right: 40px;
}

.header-connect {
    margin-left: auto;
    display: flex;
}

/*------------------------------HERO----------------------------------*/

.hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
}

.hero-link:hover, 
.hero-link:focus {
    color: var(--accent-color);
}

.hero-top-text {
    color: #rgb(157, 164, 189, 0.6);
}
.hero-title {
    color: var(--main-title-color);
}
.hero-bottom-text {
    color: #9da4bd;
}

.hero-content {
    background-color: #303030;
    padding: 272px 96px 206px 96px;
    flex-grow: 1;
}

.hero .container {
    display: flex;  
}

.hero-list {
    width: 90px;
}

/*------------------------------ABOUT----------------------------------*/

.about-top-text {
    color: #303030;
}
.about-title {
    color: var(--second-title-color);
}
.about-bottom-text {
    color: #555555;
}
.about-text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
}

/*------------------------------SERVICES----------------------------------*/

.services {
    background-color: #303030;
}
.services-top-text {
    color: #rgb(157, 164, 189, 0.6);
}
.services-title {
    color: var(--main-title-color);
}

.services-itm-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

/*------------------------------BENEFITS----------------------------------*/

.benefits-item {
}

.benefits-num {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}

.benefits-item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}

.benefits-top-text {
    color: #303030;
}
.benefits-title {
    color: var(--second-title-color);
}

.benefits-bottom-text {
    color: #555555;
}

/*------------------------------MASTERS----------------------------------*/

.masters-top-text {
    color: #303030;
}

.masters-title {
    color: var(--second-title-color);
}

.masters-item-titel {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}

.masters-item-text {
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/*------------------------------GALERY----------------------------------*/

.galery-top-text {
    color: #303030;
}

/*------------------------------ONLINE----------------------------------*/

.online-titel {
    color: var(--main-title-color);
    background-color: #303030;
}

/*------------------------------CONTACTS----------------------------------*/
.contacts {
    background-color: #303030;
}

.contacts-title {
    color: var(--main-title-color);
}

.contacts-adress {
    font-style: normal;
}
.contacts-link {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

.contacts-subtitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

.contacts-time {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
}


/*------------------------------FOOTER----------------------------------*/

.footer-copy {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.86;
    letter-spacing: 0.2em;
    color: #9da4bd;
}

.footer-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}