@use "./utils/vars";
@use "./base/reset";
@use "./base/common";
@use "./utils/hidden";
@use "./utils/mixins";

@use "./components/container";
@use "./components/top-text";
@use "./components/title";
@use "./components/btn";
@use "./components/bottom-text";
@use "./components/socials";
@use "./components/modal";

@use "./layouts/header";
@use "./layouts/hero";
@use "./layouts/about";
@use "./layouts/services";
@use "./layouts/benefits";
@use "./layouts/masters";
@use "./layouts/galery";
@use "./layouts/online-contact";
@use "./layouts/contacts";
@use "./layouts/footer";
