.btn {
  min-width: 180px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  background-color: transparent;
  border-radius: 30px;
  padding: 10px 26px;

  &:hover {
    background-color: #ff6c00;
  }
}
