.container {
  width: 448px;
  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;

  @include tablet {
    width: 100%;
    width: 720px;
  }

  @include desktop {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
