.backdrop {
    width: 100%;
    height: 100%;
    background-color: #4a4a4a68;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 300ms, visibility 300ms;
}

.modal {
    width: 500px;
    min-height: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms;
    padding: 40px;
    .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
}
}

.modal-title {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.modal-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

.modal-input {
    width: 100%;
    height: 45px;
    border: 1px solid #999999;
    background-repeat: 4px;
    padding-left: 30px;
    color: #000000;
    &:valid {
    border-color: #000000;
}
    &::placeholder {
    color: #686868;
    font-size: 12px;
}
    &:focus {
    border-color: var(--accent-color);
    outline: none;
}
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-label {
    font-size: 16px;
    color: #676767;
    margin-bottom: 5px;
    display: block;
}

.modal-text {
    width: 100%;
    height: 100px;
    border: 1px solid #999999;
    border-radius: 5px;
    resize: none;
}

.modal-field .modal-text {
    margin-bottom: 10px;
    padding-left: 10px;
}

.check-text {
    color: #555555;
    font-size: 14px;
    display: flex;
    &::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 2px solid #191c26;
    border-radius: 2px;
    margin-right: 5px;
}
}

.modal-check:checked + .check-text::before {
    background-color: var(--accent-color);
    background-image: url(../icons/check.svg);
    border: none;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-check:focus + .check-text::before {
    border-color: var(--accent-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.no-scroll{
    overflow: hidden;
}