.top-text {
    @include font(11px, 600, 1.36, 0.1em);
    // font-weight: 600;
    // font-size: 11px;
    // line-height: 1.36;
    // letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    &-light {
    color: #9da4bd;
}

    &-dark {
    color: #303030;
}

    &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 21px;
}
}

