.top-text {
    @include font(11px, 600, 1.91, 0.1em);
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
        @include font(null, null, 1.36, null);
    }
    display: flex;
    align-items: center;
    &-light {
    color: #9da4bd;
}

    &-dark {
    color: #222222;
}

    &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    margin-right: 21px;
    flex-shrink: 0;
}
}

