.about {
    padding-top: 100px;
    padding-bottom: 121px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .container {
    display: flex;  
}

.pic-list {
    display: flex;
    margin-right: 64px;
}

.pic-list__item + .pic-list__item {
    margin-left: 30px;
}

.about-content__top-text {
    color: #303030;
    margin-bottom: var(--tipical-margin);
}
.about-content__title {
    color: var(--second-title-color);
    margin-bottom: var(--tipical-margin);
}
.about-content__bottom-text {
    color: #555555;
    margin-bottom: var(--tipical-margin);
}
.about-content__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
}