.about .container {
  display: flex;
}

.about {
  padding-top: 165px;
  padding-bottom: 90px;
  display: flex;
  align-items: center;
}

.about-container {
  &__pic-list,
  &__about-content {
    flex: 1;
  }

  &__pic-list {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-right: 30px;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-right: 64px;
    }
  }
}

.about-content__top-text {
  color: #303030;
  margin-bottom: var(--tipical-margin);
}
.about-content__title {
  color: var(--second-title-color);
  margin-bottom: var(--tipical-margin);
}
.about-content__bottom-text {
  color: #555555;
  margin-bottom: var(--tipical-margin);
}

.about-content__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-content__btn {
  &:hover {
    color: var(--main-btn-color);
  }
}
