.benefits .container {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;

  @include desktop {
    flex-direction: row; /* две колонки */
    align-items: center;
  }
}

.container {
  @include tablet {
    padding: 0 40px;
  }
}

.benefits__list,
.benefits-content {
  flex: 1; /* равные по ширине */
}

.benefits {
  padding-top: 84px;
  padding-bottom: 84px;

  @include desktop {
    padding-top: 143px;
    padding-bottom: 137px;
  }

  &__list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      margin-left: 239px;
    }

    @include desktop {
      margin-left: 0;
    }
  }

  &__item {
    width: 170px;
    height: 133px;
    background-color: #f7f7f7;
    padding: 20px 24px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(even) {
      margin-top: 30px;
    }
  }

  &__num {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
    display: block;
  }

  &__num::after {
    content: "+";
  }

  &__item-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
  }
}

.benefits-content {
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-right: 205px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    padding-right: 155px;
  }

  &__top-text {
    color: #303030;
    margin-bottom: var(--tipical-margin);
  }
  &__title {
    color: var(--second-title-color);
    margin-bottom: var(--tipical-margin);
  }

  &__bottom-text {
    color: #555555;
  }
}
