.galery {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.galery-top-text {
  color: #303030;
  margin-bottom: 44px;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  // margin: -15px;
}

.galery-item {
  width: 100%;
  // height: 360px;
  // object-fit: cover;
  // object-position: center;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
