.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav {
  display: none;
}

.nav__link,
.connect__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0, 1em;
  color: #ffffff;
  transition: color 300ms ease-in-out;
}

.nav__link:hover,
.nav__link:focus .connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.connect__btn {
  color: var(--main-btn-color);
  margin-left: 40px;
}

.logo {
  margin-right: 70px;
}

.header .container {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.nav__item:not(:last-child) {
  margin-right: 40px;
}

.connect {
  display: none;
  margin-left: auto;
  display: center;
}

.menu-open-btn,
.menu-close-btn {
  display: block;
  margin-left: auto;
}

.menu-close-btn {
  margin-bottom: 30px;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.mob-container {
  flex-direction: column;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 60px;
}

.mob-menu-item {
  margin-bottom: 24px;
}

.mob-menu-list {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.1em;
  text-align: left;
  color: #303030;
}

.mob-connect-btn {
  display: block;
  margin-top: 24px;
}

.mob-connect {
  margin-bottom: 64px;
}

.mob-soc-list {
  padding-left: 100px;
  position: relative;
}

.mob-soc-list::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.mob-soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-soc-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  color: #303030;
}
