.hero {
    background-color: #191c2600;
    height: auto;
}

.hero .container {
    display: flex;
}

.soc {
    width: 90px;
    display: flex;
    align-items: flex-end;
    padding-left: 22px;
}

.soc__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 300ms ease-in-out;
}

.soc__list {
    display: flex;
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
    align-items: center;
}

.soc__list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 40px;
}

.soc__item {
    display: block;
}

.soc__item + .soc__item {
    margin-left: 40px;
}


.soc__link:hover, 
.soc__link:focus {
    color: var(--accent-color);
}

.hero-content {
    background-color: #303030;
    background-image: linear-gradient( 
        rgba(25, 28, 38, 0.5),
        rgba(25, 28, 38, 0.5)),
     url(../imeg/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 272px 96px 206px 96px;
    flex-grow: 1;
}

.hero-content__top-text {
    margin-bottom: var(--tipical-margin);
}
.hero-content__title {
    color: var(--main-title-color);
    margin-bottom: var(--tipical-margin);
}


.hero-content__bottom-text {
    color: #9da4bd;
    max-width: 400px;
}