.hero {
  background-color: #191c2600;
  height: auto;
}

.hero .container {
  display: flex;
  width: 100%;
  padding: 0;

  @include tablet {
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @include desktop {
    width: 1200px;
  }
}

.hero-content {
  background-color: #202020;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.5),
      rgba(25, 28, 38, 0.5)
    ),
    url(../img/hero-bg-mob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // padding: 272px 96px 206px 96px;
  padding: 208px 31px 188px;
  flex-grow: 1;

  @include retina {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.5),
        rgba(25, 28, 38, 0.5)
      ),
      url(../img/hero-bg-mob-2x.jpg);
  }

  @include tablet {
    padding: 280px 70px 234px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.5),
        rgba(25, 28, 38, 0.5)
      ),
      url(../img/hero-bg-tab.jpg);

    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.5),
          rgba(25, 28, 38, 0.5)
        ),
        url(../img/hero-bg-tab-2x.jpg);
    }
  }

  @include desktop {
    padding: 272px 96px 206px 96px;
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.5),
        rgba(25, 28, 38, 0.5)
      ),
      url(../img/hero-bg.jpg);

    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.5),
          rgba(25, 28, 38, 0.5)
        ),
        url(../img/hero-bg-2x.jpg);
    }
  }
}

.hero-content__top-text {
  margin-bottom: var(--tipical-margin);
}

.hero-content__title {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--tipical-margin);
  @include desktop {
    font-size: 72px;
    line-height: 1.16;
  }
}

.hero-content__bottom-text {
  color: #9da4bd;
  max-width: 306px;

  @include tablet {
    max-width: 349px;
  }

  @include desktop {
    max-width: 400px;
  }
}

.soc {
  width: 90px;
  display: none;
  align-items: flex-end;
  //   padding-left: 24px;
  padding-bottom: 44px;
  @include tablet {
    display: flex;
  }
}

.soc__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms ease-in-out;
}

.soc__list {
  @include tablet {
    display: flex;
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
    align-items: center;
    &::before {
      content: "";
      width: 60px;
      height: 1px;
      background-color: #9da4bd;
      margin-right: 40px;
    }
  }
}

.soc__list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #9da4bd;
  margin-right: 40px;
}

.soc__item {
  display: block;
}

.soc__item + .soc__item {
  margin-left: 40px;
}

.soc__link:hover,
.soc__link:focus {
  color: var(--accent-color);
}
