.masters {
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.masters__top-text {
  margin-bottom: var(--tipical-margin);
}

.masters__title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-list__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.card-list__item:hover .card-list__color-text {
  transform: translateY(0);
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__color-text {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: lch(62.98% 89.3 53.41 / 0.618);
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.card-list__item-titel {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
  margin-top: 30px;
}

.card-list__item-text {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
