.services {
  background-color: #949494;
  background-image: url(../img/services-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 84px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  &__top-text {
    color: gray;
    margin-bottom: var(--tipical-margin);
  }

  &__title {
    color: var(--main-title-color);
    margin-bottom: 44px;
  }

  &__list {
    flex-grow: 1;
  }

  &__lists {
    flex-grow: 1;
    display: inline-block;

    @include tablet {
      padding: 30px 40px;
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    @include desktop {
      padding: 30px 40px;
      flex-grow: 1;
      display: flex;
      gap: 60px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      flex-grow: 1;
      height: 1px;
      background-color: #4a4a4a;
      margin-left: 6px;
      margin-right: 6px;
    }

    @include tablet {
    }

    @include desktop {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: #4a4a4a;
        margin-left: 6px;
        margin-right: 6px;
      }
    }
  }

  &__item-light,
  &__item-dark {
    padding: 0 20px;
  }

  &__item-light {
    padding-top: 30px;
    background: linear-gradient(
      180deg,
      rgba(94, 94, 94, 0.132) 0%,
      rgba(37, 34, 34, 0.038) 100%
    );

    @include desktop {
      padding: 30px 40px;
    }
  }

  &__item-dark {
    padding-bottom: 30px;
    background: linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.132) 0%,
      rgba(29, 29, 29, 0.226) 100%
    );

    @include desktop {
      padding: 30px 40px;
    }
  }

  &__itm-text {
    margin-bottom: var(--tipical-margin);
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9da4bd;
    display: flex;
  }

  &__itm-text:first-child {
    order: -1;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    color: var(--main-btn-color);

    &:hover {
      color: var(--second-btn-color);
    }
  }
}
